.navbar-brand {
  color: white; /* Color de texto cuando no se le hace clic */
  font-weight: bold; /* Estilo de negrita */
  text-decoration: none;
}

.between{
  display: flex;
  justify-content: space-between;
}

.example-spacer {
  flex: 1 1 auto;
}
