.button-container {
  display: flex;
  justify-content: space-between;
}



@media screen and (min-width: 400px) {
  .button-container button {
    margin-bottom: 5px;
    width: 45%;
  }
}

@media screen and (max-width: 399px) {
  .button-container {
    flex-direction: column;
  }
  .button-container button {
    margin-bottom: 10px; /* Agrega un margen inferior a los botones en la dirección de columna */
  }
}
